﻿<!DOCTYPE html>
<html lang="en" ng-app="VotingApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Voting application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/VotingApp")
    @Styles.Render("~/Content/fontawesome")
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" bs-navbar>
        <ul class="nav navbar-nav">
            <li data-match-route="/Index"><a href="#/Index">Home</a></li>
            <li data-match-route="/Create"><a href="#/Create">Tworzenie ankiety</a></li>
            <li data-match-route="/ExistingSurveys"><a href="#/ExistingSurveys">Obecne ankiety</a></li>
        </ul>
    </nav>
<div class="container" id="Content">
    <div ng-View></div>
</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
