﻿<div id="Create" ng-controller="MainController as ctrl">
    <div class="starter-template">
        <div class="page-header">
            <h1>Tworzenie ankiety</h1>
        </div>
        <form role="form" name="createForm">
            <div class="form-group">
                <label for="Title" class="left">Tytuł:</label>
                <input type="text" ng-model="ctrl.survey.Title" required class="form-control" id="Title" />
            </div>
            <div class="form-group">
                <label for="Description">Opis:</label>
                <textarea ng-model="ctrl.survey.Description" class="form-control" id="Description"></textarea>
            </div>
            <div class="container" ng-repeat="Question in ctrl.survey.Questions track by Question.Id">
                <div class="list-group-item-heading">
                    <h3>Pytanie numer {{Question.Id}}</h3>
                </div>
                <div class="form-group">
                    <label for="{{'QuestionText_'+Question.Id}}">Treść pytania:</label>
                    <input type="text" ng-model="Question.QuestionText" required class="form-control" id="{{'QuestionText_'+Question.Id}}" />
                </div>
                <div class="form-group">
                    <label for="singleSelect"> Typ pytania: </label><br>
                    <select name="singleSelect" id="singleSelect" class="form-control" required ng-model="Question.QuestionKind">
                        <option value="" selected="selected">-- Wybierz typ --</option>
                        <option value="1">Pytanie otwarte</option>
                        <option value="2">Pytanie zamknięte jednokrotnego wyboru</option>
                        <option value="3">Pytanie zamknięte wielokrotnego wybiru</option>
                    </select>
                </div>
                <div class="container" ng-if="Question.QuestionKind == 2 || Question.QuestionKind == 3">
                    <div class="container" ng-repeat="QuestionOption in Question.QuestionOption track by QuestionOption.Id">
                        <div class="form-group">
                            <label for="{{'questionOption_' + QuestionOption.Id}}">Możliwa odpowiedź</label>
                            <input type="text" class="form-control" required id="{{'questionOption_' + QuestionOption.Id}}" ng-model="QuestionOption.Text" />
                        </div>
                    </div>
                    <button ng-click="ctrl.AddQuestionOption(Question.Id)" class="btn btn-default pull-right"> Dodaj możliwą odpowiedź</button>
                    <br />
                    <hr />
                </div>
            </div>
            <div class="form-group" style="margin-top: 10px">
                <button ng-click="ctrl.AddQuestion()" class="btn btn-default pull-right"> Dodaj pytanie</button>
            </div>
            <div class="form-group">
                <input type="submit" ng-click="ctrl.Submit()" ng-disabled="!createForm.$valid" class="btn btn-default pull-left" value="Zapisz!"/>
            </div>
        </form>
    </div>
</div>