﻿<div id="ExistingSurveys" ng-controller="BrowseSurveysController as ctrl">
    <h1>Dostępne ankiety</h1>
    <label>Szukaj: <input ng-model="searchText"></label>
    <br />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Nazwa
                </th>
                <th>
                    Opis
                </th>
                <th>
                    Data utworzenia
                </th>
                <th>
                    Akcje
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in ctrl.surveys | filter:searchText">
                <td ng-bind="item.Id"></td>
                <td>
                    <a ng-bind="item.Title" href="#/ShowSurvey/{{item.Id}}"></a>
                </td>
                <td ng-bind="item.Description"></td>
                <td ng-bind="item.CreateDate | moment:'format' : 'HH:mm YYYY-MM-DD'"></td>
                <td>
                    <p ng-click="ctrl.RemoveSurvey(item.Id)">
                        <i class="fa fa-cut"></i>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>