﻿<div ng-controller="SurveyPreviewController as ctrl">
    <div class="container-fluid">
        <h3 ng-bind="'Tytuł: ' + ctrl.survey.Title"></h3>
        <h4 ng-bind="'Opis: ' + ctrl.survey.Description"></h4>
            <div class="container" ng-repeat="Question in ctrl.survey.Questions track by Question.Id">
                <div class="list-group-item-heading">
                    <h3>Pytanie numer {{Question.Id}}</h3>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="{{'QuestionText_'+Question.Id}}">Treść pytania:</label>
                        <input disabled="disabled" type="text" ng-model="Question.QuestionText" required class="form-control" id="{{'QuestionText_'+Question.Id}}" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="singleSelect"> Typ pytania: </label><br>
                    <select disabled="disabled" name="singleSelect" id="singleSelect" class="form-control" required ng-model="Question.QuestionKind">
                        <option ng-selected="1 == Question.QuestionKind" value="1">Pytanie otwarte</option>
                        <option ng-selected="2 == Question.QuestionKind" value="2">Pytanie zamknięte jednokrotnego wyboru</option>
                        <option ng-selected="3 == Question.QuestionKind" value="3">Pytanie zamknięte wielokrotnego wybiru</option>
                    </select>
                </div>
                <div class="container" ng-if="Question.QuestionKind == 2 || Question.QuestionKind == 3">
                    <div class="container" ng-repeat="QuestionOption in Question.QuestionOption track by QuestionOption.Id">
                        <div class="form-group">
                            <label for="{{'questionOption_' + QuestionOption.Id}}">Możliwa odpowiedź</label>
                            <input disabled="disabled" type="text" class="form-control" required id="{{'questionOption_' + QuestionOption.Id}}" ng-model="QuestionOption.Text" />
                        </div>
                    </div>
                    <br />
                    <hr />
                </div>
            </div>
        <div>
            <a class="pull-right" href="#/ExistingSurveys">Wróc do listy ankiet</a>
        </div>
    </div>
</div>